*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.allPokemons{
    border: 2px solid red;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
}
.pokemon{
    width:16%;
    height: 300px;
    border: 2px solid blue;
    border-radius: 10px;
    box-shadow: 2px 3px 4px gray;
    background-color: aqua;
}
#pokemon-type-filter {
    /* display: flex;
    justify-content: center; */
    /* flex-direction: column; */
    gap: 1rem;
  }
  #pokemon-search-form {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  .pokemon_container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* border:2px solid red; */
    margin-top: 10px;
  }
  .card_conatiner {
    position: relative;
    height: 330px;
    width: 250px;
    background-color: blueviolet;
    border: 2px solid black;
    border-radius: 10px;
    transition: 0.6s linear;
    font-size: 1rem;
    box-shadow: 3px 5px 10px rgb(85, 84, 84);
    transform-style: preserve-3d;
  }
  .front_card {
    position: absolute;
  }
  .front_card,.backcard {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    backface-visibility: hidden;
  }
  .backcard {
    background-color: aqua;
    transform: rotateY(180deg);
    border-radius: 10px;
    /* display:none; */
  
  }
  img {
    width: 100px;
  }
  .number {
    background-color: aquamarine;
    width: 100%;
    text-align: center;
  }
  .outer_card_container:hover .card_conatiner{
    transform: rotateY(180deg);
      
  }