*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.container{
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 0;
  /* padding: 2rem; */
  background-color: rgb(63, 153, 142);
}
.allPokemons{
  /* border: 2px solid red; */
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
  margin-top: 10px;
  padding: 2rem;
  background-color: rgb(63, 153, 142);
}
h1{
  font-family: cursive;
  font-size: 5rem;
  text-shadow: 2px 3px 4px rgb(63, 10, 10);
  color: rgb(231, 0, 0);
}
.pokemon{
  width:16%;
  height: 300px;
  border: 2px solid blue;
  border-radius: 10px;
  box-shadow: 2px 3px 4px gray;
  background-color: aqua;
}
.pokimonfilter {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* flex-direction: column; */
  gap: 1rem;
}
.staticpart{
  /* border: 2px solid red; */
  width: 100%;
  height: 50px;
  align-items: center;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
#input{
  width: 40%;
  height: 90%;
  border: none;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.651);
  color: rgb(100, 253, 189);
  font-size: 1.2rem;
  box-shadow: 3px 4px 10px rgb(201, 255, 180);
}
button{
  width: 10%;
  height: 80%;
  border: none;
  background-color: aqua;
  color: rgb(71, 10, 10);
  box-shadow: 3px 4px 10px rgb(201, 255, 180);
  border-radius: 40px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition:  transform 0.2s ease;;
}
.button{
  animation: click 0.5s ease;
}
.pokimonfilter{
  /* border: 2px solid green; */
  height: 100%;
  display: flex;
  align-items:center;
}
#filtertype{
  width: 8%;
  height: 60%;
  border: none;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.651);
  color: rgb(100, 253, 189);
}
.cardConatiner {
  position: relative;
  height: 330px;
  width: 250px;
  /* background-color: blueviolet; */
  border: 2px solid black;
  border-radius: 10px;
  transition: 0.6s linear;
  font-size: 1rem;
  box-shadow: 3px 5px 10px rgb(85, 84, 84);
  transform-style: preserve-3d;
}
.front_card {
  position: absolute;
}
.front_card,.backcard {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  backface-visibility: hidden;
}
.backcard {
  /* background-color: aqua; */
  transform: rotateY(180deg);
  border-radius: 10px;

}
.fimg {
  width: 100px;
}
.bimg{
  width: 140px;
}
.name{
  font-size: 1.3rem;
  padding: 0.4rem;
  background-color: rgba(231, 229, 229, 0.822);
  border-radius: 20px;
  color: rgb(39, 61, 7);
}
.number {
  background-color: aquamarine;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 25px;
  left: 0;
}
.numbe2{
  background-color: rgb(12, 233, 159);
  width: 100%;
  text-align: center;
  position: absolute;
  top: -40px;
  left: 0;
}
.outer_card:hover .cardConatiner{
  transform: rotateY(180deg); 
}
#grass{
  background-color: #A0CF59;
}
#rock{
  background-color: #A8922C;
}
#ghost{
  background-color: #826AA8;
}
#ice{
  background-color: #5AC7E8;
}
#dragon{
  background-color: #DCAA2B;
}
#ground{
  background-color: #F7E049;
}
#fairy{
  background-color: #FDBDEA;
}
#fighting{
  background-color: #4E98C7;
}
#psychic{
  background-color: #F46EBD;
}
#fire{
  background-color: #FD842F;
}
#water{
  background-color: #4E98C7;
}
#bug{
  background-color: #79A449;
}
#normal{
  background-color: #BFBFBF;
}
#poison{
  background-color: #BD86CC;
}
#electric{
  background-color: #EFD73F;
}

@keyframes click {
  0% {
    transform: scale(1.1); 
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);  
  }
  
}